/*@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
/*мобильный узкий экран*/
html {
    background: #7c7c7c;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*font-family: 'Caveat', cursive;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Hi Melody', cursive;*/
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Ubuntu Condensed', sans-serif;
    /*font-weight: 350;*/
}

.enterRow {
    display: flex;
    gap: 1vw;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 12vw;
    color: #ffcc33;
}

#add-task-button, #input-task, #task-list, .delete-btn {
    /*font-family: 'Caveat', cursive;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Hi Melody', cursive;*/
    /*font-weight: 600;*/
    font-size: 6vw;
}

#input-task {
    border: none;
    /*border-bottom: 0.75vw solid #3A3B3C;*/
    border-radius: 1.5vw;
    width: 65vw;
    background: #aab2b2;
    color: #838484
}

#add-task-button {
    background-color: #56b1ba;
    color: #221831;
    cursor: grab;
    width: 21vw;
    border-radius: 1.5vw;
}

#add-task-button:active {
    cursor: grabbing;
}

ul {
    list-style-type: none;
}

.delete-btn {
    background-color: #7dbec9;
    width: 9vw;
    font-size: 7vw;
    color: #221831;
    border-radius: 1.5vw;
    cursor: grab;
    /*font-weight: 600;*/
}

.delete-btn:active {
    cursor: grabbing;
}

.checkbox {
    width: 5vw;
    height: 5vw;
    cursor: grab;
}

.checkbox:active {
    cursor: grabbing;
}

#task-list {
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    align-items: center;
    height: 11vw;
}

label {
    display: none;
}

.task {
    width: 58vw;
    margin-left: 1vw;
    color: #000002;
}

input[type=checkbox] + span {
    text-decoration: none;
}

input[type=checkbox]:checked + span {
    text-decoration: line-through #3faaaf;
}

@media only screen and (min-width: 1700px) { /*мобильный широкий экран*/

    h1 {
        font-size: 6vw;
    }

    #add-task-button, #input-task, #task-list {
        font-size: 3vw;
    }

    #input-task {
        /*border-bottom: 0.5vw solid #3A3B3C;*/
        border-radius: 1.5vw;
        width: 50vw;
    }

    #add-task-button {
        width: 15vw;
        /*border-radius: 1.5vw;*/
    }

    .delete-btn {
        width: 6vw;
        font-size: 3vw;
        /*border-radius: 3vw;*/
    }

    .checkbox {
        width: 2.5vw;
        height: 2.5vw;
    }

    li {
        height: 6vw;
    }

    .task {
        width: 47vw;
    }
}

@media (max-height: 1100px) { /*настройки для пк*/

    h1 {
        font-size: 7vw;
    }

    #task-list {
        font-size: 4vw;
    }

    #input-task {
        /*border-bottom: 0.5vw solid #3A3B3C;*/
        border-radius: 1vw;
        width: 50vw;
        height: 3vw;
        font-size: 3vw;
    }

    #add-task-button {
        height: 3.8vw;
        font-size: 3vw;
        width: 15vw;
        border-radius: 1vw;
    }

    .delete-btn {
        width: 3.5vw;
        font-size: 2.5vw;
        border-radius: 1vw;
    }

    .checkbox {
        width: 3vw;
        height: 3vw;
    }

    li {
        height: 5vw;
    }

    .task {
        width: 45vw;
    }
}
