@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

html {
    background: #C0C0C0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Caveat', cursive;
}

.enterRow {
    display: flex;
}

h1 {
    font-size: 6vw;
}

#add-task-button, #input-task, #task-list {
    font-family: 'Caveat', cursive;
    font-weight: 600;
    font-size: 3vw;
}

#input-task {
    border: none;
    border-bottom: 0.5vw solid #3A3B3C;
    border-radius: 0.5vw;
    width: 60vw;
    background: #C0C0C0;
}

#add-task-button {
    background-color: #3A3B3C;
    color: #fff;
    cursor: grab;
}

#add-task-button:active {
    cursor: grabbing;
}

ul {
    list-style-type: none;
}

.delete-btn { /*вернуться к настройке при изминение не корректно*/
    background-color: #0C090A;
    width: 3.5vw;
    /*height: 5vw;*/
    font-size: 2.5vw;
    /*text-align: center;*/
    color: #FFFF00;
    border-radius: 3vw;
    cursor: grab;
    font-weight: 600;
}

.delete-btn:active {
    cursor: grabbing;
}

.checkbox {
    width: 3vw;
    height: 3vw;
    cursor: grab;
}

.checkbox:active {
    cursor: grabbing;
}

#task-list {
    width: 60vw;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    align-content: center;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

label {
    display: none;
}

/*.checkbox {
    width: 1em;
}*/

.task {
    width: 17em;
}

/*.delete-btn {
    !*width: 1.2em;*!
}*/

input[type=checkbox] + span {
    text-decoration: none;
}

input[type=checkbox]:checked + span {
    text-decoration: line-through #FFFF00;
}