@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*мобильный узкий экран*/
html {
    background: #7f7f7f;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 12vw;
    color: #ffcc33;
    position: relative;
    top: -6vw;
    height: 4vw;
}

.enterRow {
    display: flex;
    gap: 1vw;
    align-items: center;
}

#task-list {
    list-style-type: none;
}

#add-task-button, #input-task, #task-list {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 6vw;
}

#input-task {
    border: none;
    border-radius: 1.5vw;
    width: 65vw;
    background: #aab2b2;
    color: #221831;
    padding-left: 1vw;
}

#input-task::placeholder {
    color: #838484;
    font-size: 2.5vw;
}

#input-task:focus {
    outline: none;
}

#add-task-button {
    background-color: #56b1ba;
    color: #221831;
    cursor: grab;
    width: 21vw;
    border-radius: 1.5vw;
    border-color: #ffcc33;
}

#add-task-button:active {
    cursor: grabbing;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*height: 11vw;*/
    /*width: 70vw;*/
}

.checkbox {
    width: 5vw;
    height: 5vw;
    cursor: grab;
    border-radius: 0.9vw;
}

.checkbox:active {
    cursor: grabbing;
}

.task {
    width: 48vw;
    margin-left: 1vw;
    color: #221831;
}

.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7dbec9;
    width: 9vw;
    font-size: 7vw;
    color: #221831;
    border-radius: 1.5vw;
    cursor: grab;
    font-weight: 800;
    border-color: #ffcc33;
    margin-left: 1vw;
}

.delete-btn:active {
    cursor: grabbing;
}

label {
    display: none;
}

img[alt='not done'] + span {
    text-decoration: none;
}

img[alt='done'] + span {
    text-decoration: line-through #56b1ba 0.2em;
}

@media only screen and (min-width: 1700px) { /*мобильный широкий экран*/

    h1 {
        font-size: 6vw;
    }

    #add-task-button, #input-task, #task-list {
        font-size: 3vw;
    }

    #input-task {
        border-radius: 1.5vw;
        width: 50vw;
    }

    #add-task-button {
        width: 15vw;
        /*border-radius: 1.5vw;*/
    }

    .delete-btn {
        width: 6vw;
        font-size: 3vw;
        /*border-radius: 3vw;*/
    }

    .checkbox {
        width: 2.5vw;
        height: 2.5vw;
    }

    li {
        /*height: 6vw;*/
    }

    .task {
        /*width: 47vw;*/
    }
}

@media (max-height: 1100px) { /*настройки для пк*/

    h1 {
        font-size: 8vw; /*!*/
    }

    #task-list {
        font-size: 3vw; /*!*/
    }

    #input-task {
        border-radius: 1vw;
        width: 50vw;
        font-size: 3vw;
    }

    #add-task-button {
        font-size: 3vw; /*!*/
        width: 15vw;
        border-radius: 1vw;
    }

    .delete-btn {
        width: 3.25vw; /*!*/
        font-size: 1.5vw; /*!*/
        border-radius: 1vw;
        height: 3.25vw; /*!*/
    }

    .checkbox {
        width: 3vw;
        height: 3vw;
    }

    li {
        /*height: 5vw;*/
    }

    .task {
        width: 48vw;
    }
}
